body {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .one {
    background: #fac0cb;
    border: 3px solid #2000ff;
    /* CHANGE ME */
    padding: 30px;
    margin: 10px;
  }
  
  .two {
    background: #add8e6;
    border: 3px solid #800080;
    /* CHANGE ME */
    margin-bottom: 48px;
  }
  
  .three {
    background: #fcdab9;
    border: 3px solid #a52b2a;
    width: 200px;
    /* CHANGE ME */
    padding: 32px;
    margin-left: auto;
  }